<.live_component
  module={SenderoWeb.AdminLive.PrimarySidebar}
  id="admin-primary-sidebar"
  story={@story}
  stories={@stories}
/>

<.main_section>
  <%= case @live_action do %>
    <% :dashboard -> %>
      <.live_component
        module={SenderoWeb.DragAndDropEditorLive}
        id="drag-and-drop-editor"
        left={48}
        top={48}
      />
    <% :story_editor -> %>
      <.live_component
        module={SenderoWeb.AdminLive.StoryEditor.Index}
        id="story-editor"
        story={@story}
        stories={@stories}
      />
  <% end %>
</.main_section>
