<h1><%= @story.title %></h1>

<%= if length(@history) > 0 do %>
  <div class="mb-4">
    <a class="text-blue-500 underline" href="#" phx-click="back">Back</a>
  </div>
<% end %>

<%= @current_passage.content |> raw() %>
